{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <form action="{{ path('security_login') }}" method="post">
        {% if error %}
            <div class="red pt10 pl15">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="panel-body">
            <h2>Se connecter</h2>
            <div class="form-group">
                <div class="loginForm">
                    <label for="login" class="form-title">Identifiant :</label>
                    <input type="text" class="form-control" id="login" name="_username">
                </div>
            </div>
            <div class="form-group">
                <div class="loginForm">
                    <label for="password" class="form-title">Mot de passe :</label>
                    <input type="password" class="form-control" id="password" name="_password">
                </div>
            </div>
            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}"/>
            <div><button type="submit" class="btn btn-primary">Se connecter</button></div><br/>
            <div><a href="{{ path('password_recovery')}}">Mot de passe oublié ?</a></div>
        </div>
    </form>
{% endblock %}
