{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}
    <div>
        <div class="red">
            {% if app.session.flashBag.has('danger') %}
                {% for msg in app.session.flashBag.get('danger') %}
                    {{ msg }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="panel-body">
            <h1>Mot de passe oublié ?</h1>
            <p>Réinitialiser votre mot de passe en renseignant votre email.</p>

            {{form_start(formEmail)}}
            {{form_row(formEmail.email)}}
            <button class="btn btn-primary" type="submit">Envoyer</button>
            {{form_end(formEmail)}}
        </div>
    </div>
{% endblock %}