###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> misc ###
/misc
/.idea
###< misc ###

.env
public/img/avatar/*.png
public/img/trickImages/*.png
public/img/trickMainImage/*.png
public/img/avatar/*.jpg
public/img/trickImages/*.jpg
public/img/trickMainImage/*.jpg
public/img/avatar/*.jpeg
public/img/trickImages/*.jpeg
public/img/trickMainImage/*.jpeg
