{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Création d'une catégorie</h2>

            {{ form_start(formCategory) }}

            {{ form_row(formCategory.name, {'label': 'Nom de la catégorie' }) }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>

            {{ form_end(formCategory) }}
        </div>
    </div>
{% endblock %}