{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}
    <p><h2>Les catégories</h2></p>
    <section class="list-group">
        {% for category in category %}
            <div class="list-group">
                <ul>
                    <li>{{ category.name }}</li>
                </ul>
            </div>
        {% endfor %}
    </section>
    <p>Ajouter un <a href="{{ path('new_trick') }}">Trick</a></p>
{% endblock %}