{% extends 'base.html.twig' %}

{% block title %}Les membres de <b>Snowtricks</b>{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{ user.username }}</h2>
            <div>{{ user.email | raw }}</div>
            </p>
            <p><a href="/">Retour</a></p>
        </div>
    </div>
{% endblock %}