<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('home') }}">SnowTricks</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Se connecter</a></li>
                        <li class="active"><a href="{{ path('new_trick') }}">Créer un nouveau Trick</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Rechercher">
                            </div>
                            <button type="submit" class="btn btn-default">Valider</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
