{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="error404">Cette page n'existe pas</h1>
    <p>La page que vous demandez n'existe pas. Merci de vérifier l'url ou de retourner sur la <a href="{{ path('home') }}">
    page de garde</a> du site.
    </p>
{% endblock %}